<%= render 'layouts/header' %>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">User Profile<hr></div>
          </div>
          <div class="row">
			<div class="col-md-4 text-center">
              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none; 
              display:block; margin:auto;" src="http://robohash.org/sitsequiquia.png?size=120x120">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin"><%= @user.name %></h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span class="text-muted">Email:</span> <%= @user.email %><br>
                  <span class="text-muted">Birth date:</span> 01.01.2001<br>
                  <span class="text-muted">Gender:</span> male<br><br>
                  <small class="text-muted">Created: 04.03.2015</small>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr><button class="btn btn-default pull-right" onclick='/edit'><i class="glyphicon glyphicon-pencil"></i> Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class='container-fluid'>
      <div class='well'><h3>Submitted Workorders</h3>
          <% @user.workorders.each do |workorder| %>
            <%= workorder.address %>
            <%= workorder.destination %>
            <%= workorder.distance_text %>
            <%= workorder.duration_text %>
            <% res = workorder.resources.first() %>
            <% if res.packing %>
              <p>packing</p>
            <% end  %>
            
            <% if res.moving %>
              <p>moving</p>
            <% end  %>
            
            <% if res.rickshaw %>
              <p>rickshaw</p>
            <% end  %>
            
            <% if res.car %>
              <p>car</p>
            <% end  %>
            
            <% if res.van %>
              <p>van</p>
            <% end  %>
            
            <% if res.truck %>
              <p>truck</p>
            <% end  %>
            
            <% if res.semi %>
              <p>semi</p>
            <% end  %>
          
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='container-fluid'>
  <div class='row'>

<hr />
<% @user.serviceareas.each do |servicearea| %>
<% res = servicearea.resources.first() %>
  <div>Service Area Info</div>
  <%= servicearea.address %>
  <%= servicearea.radius %>
  <%= servicearea.move_distance %>
  
  <% if res.packing %>
    <p>packing</p>
  <% end  %>
  
  <% if res.moving %>
    <p>moving</p>
  <% end  %>
  
  <% if res.rickshaw %>
    <p>rickshaw</p>
  <% end  %>
  
  <% if res.car %>
    <p>car</p>
  <% end  %>
  
  <% if res.van %>
    <p>van</p>
  <% end  %>
  
  <% if res.truck %>
    <p>truck</p>
  <% end  %>
  
  <% if res.semi %>
    <p>semi</p>
  <% end  %>
  <br /><div>---------------------------</div>
  <% servicearea.get_workorders.each do |workorder| %>
    <div>Returned work order</div>
    <%= workorder.address %>
    <%= workorder.destination %>
    <%= workorder.distance_text %>
    <%= workorder.duration_text %>
    <% if res.packing %>
    <p>packing</p>
  <% end  %>
  
  <% if res.moving %>
    <p>moving</p>
  <% end  %>
  
  <% if res.rickshaw %>
    <p>rickshaw</p>
  <% end  %>
  
  <% if res.car %>
    <p>car</p>
  <% end  %>
  
  <% if res.van %>
    <p>van</p>
  <% end  %>
  
  <% if res.truck %>
    <p>truck</p>
  <% end  %>
  
  <% if res.semi %>
    <p>semi</p>
  <% end  %>
  <% end %>
<% end %>
  </div>
</div>