<%= render 'layouts/header' %>

<div class="row">
    <div class="col-lg-12 text-center v-center">
      <h1>Service Area</h1>
        <div class="col-lg-12">
                <%= form_for(@serviceareas) do |f| %>
                  <%= f.label :address %><br />
                  <%= f.text_field :address, class: "input-group input-group-lg col-sm-offset-4 col-sm-4" %><br /><br />
            
                  <%= f.label :radius %><br />
                  <%= f.text_field :radius, class: "input-group input-group-lg col-sm-offset-4 col-sm-4" %><br /><br />
                  
                  <%= f.label :move_distance %><br />
                  <%= f.text_field :move_distance, class: "input-group input-group-lg col-sm-offset-4 col-sm-4" %><br /><br />
                    <p>Enter value in meters!</p>                    
                    <%= fields_for(@resources) do |r| %>  
                      
                      
                      <%= r.check_box :packing %>
                      <%= r.label :packing %><br />
                      
                      <%= r.check_box :moving %>
                      <%= r.label :moving %><br />
                      
                      <%= r.check_box :rickshaw %>
                      <%= r.label :rickshaw %><br />
                      
                      <%= r.check_box :car %>
                      <%= r.label :car %><br />
                      
                      <%= r.check_box :van %>
                      <%= r.label :van %><br />
                      
                      <%= r.check_box :truck %>
                      <%= r.label :truck %><br />
                      
                      <%= r.check_box :semi %>
                      <%= r.label :semi %><br />
                    <% end %>
                    
                  <%= f.submit "What's a service area?", class: "btn btn-lg btn-primary" %>
                
                <% end %>
        </div>
    </div>    
</div>
